<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eventhubtriggerapp20230519100831.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b1c36a98-7abb-45ac-9f25-31636ec257f1/resourcegroups/IntroductionToCloud/providers/Microsoft.Web/sites/EventHubTriggerApp20230519100831</ResourceId>
    <UserName>$EventHubTriggerApp20230519100831</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://eventhubtriggerapp20230519100831.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>